<h2>Instituições</h2>

<ul>
  <% @institutions.each_with_index do |institution, index| %>
    <li>
      <%= (index + 1) %>: <%= link_to institution.name, institution %> - Nota: <%= institution.general_score %>
    </li>
  <% end %>
</ul>

<%= link_to 'New', new_institution_path %>
