<h2>Instituições</h2>

<ul>
  <% @institutions.each do |institution| %>
    <li>
      <%= link_to institution.name, institution %> - Nota: <%= institution.general_score %>
    </li>
  <% end %>
</ul>
