# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.DS_Store
.byebug_history
build
db/*.sqlite3

# Ignore encrypted secrets key file.
config/secrets.yml.key
